<!-- get_header('Page Name','Title')-->
<!doctype html>
<html class="no-js" lang="zxx">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Web and Mobile - Custom Software Development | Ayoscript</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<%- include partials/HEAD_PACKAGES.ejs %>
	</head>
	<body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- prelaoder -->
      <!-- <div id="preloader">
        <div class="preloader-wrapper">
            <div class="spinner"></div>
        </div>
        <div class="preloader-cancel-btn">
            <a href="#" class="btn btn-secondary prelaoder-btn">Cancel Preloader</a>
        </div>
    </div> -->
      <!-- END prelaoder -->
    <!-- header section -->
    <%- include partials/header.ejs %>

    <!-- parallax service strart -->
    <section class="parallax-service-area">
      <div class="swiper-container parallax-service" data-direction="vertical">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <div class="single-service bg-1">
                      <div class="container">
                          <div class="row">
                              <div class="col-lg-6">
                                  <div class="parallax-service-img">
                                      <img src="images/prallax-service/parallax-service1.png" alt="">
                                  </div>
                              </div>
                              <div class="col-lg-6 align-self-center">
                                  <div class="parallax-service-content">
                                      <i class="watermark-icon icon icon-conversation"></i>
                                      <h2 class="section-title">Ideation & Evaluation</h2>
                                      <p>Do a consultation with us before executing your product. We give your product idea a shape. Plan and evaluate the essential features of your product to accomplish your business goals and eliminate possible mistakes.</p>
                                      <div class="btn-wraper">
                                          <a href="pricing.html" class="simple-btn">SCHEDULE A CONSULTATION <i class="icon icon-arrow-right"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="single-service bg-2">
                      <div class="container">
                          <div class="row">
                              <div class="col-lg-6">
                                  <div class="parallax-service-img">
                                      <img src="images/prallax-service/parallax-service2.png" alt="">
                                  </div>
                              </div>
                              <div class="col-lg-6 align-self-center">
                                  <div class="parallax-service-content">
                                      <i class="watermark-icon icon icon-image"></i>
                                      <h2 class="section-title">Product Design</h2>
                                      <p>We will provide you quality products with guaranteed Customer Experience(CX). And you can execute quickly without the need to spend time to research.</p>
                                      <div class="btn-wraper">
                                          <a href="about.html" class="simple-btn">GET YOUR DESIGN <i class="icon icon-arrow-right"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="single-service bg-3">
                      <div class="container">
                          <div class="row">
                              <div class="col-lg-6">
                                  <div class="parallax-service-img">
                                      <img src="images/prallax-service/parallax-service3.png" alt="">
                                  </div>
                              </div>
                              <div class="col-lg-6 align-self-center">
                                  <div class="parallax-service-content">
                                      <i class="watermark-icon icon icon-code"></i>
                                      <h2 class="section-title">Mobile & Web Development</h2>
                                      <p>Development of applications with clean and scalable code to be built by yourself one day. As well as security and bugs that we will minimize.</p>
                                      <div class="btn-wraper">
                                          <a href="contact-v2.html" class="simple-btn">BUILD YOUR APP <i class="icon icon-arrow-right"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
      </div>
    </section><!-- end parallax service -->

    <!-- agency call to action section -->
    <section class="xs-section-padding agency_callto_action2" data-scrollax-parent="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="agency-section-title text-center">
                        <h3 class="sub-title">INTERESTED!</h3>
                        <h4 class="main-title">Want to Start a New <em>Project</em></h4>
                        <p>Too many development firms overpromise on what they can deliver. We give you plans and projections you can actually rely on.</p>
                        <span class="watermark-title" data-scrollax="properties: { translateY: '-250px' }">PROJECT</span>
                        <a href="contact.html" class="btn btn-primary">Contact us</a>
                    </div>
                </div>
            </div><!-- .row END -->
        </div><!-- .container END -->
    </section><!-- agency call to action section end -->

    <!-- language switcher strart -->
    <!-- xs modal -->
    <div class="zoom-anim-dialog mfp-hide modal-language" id="modal-popup-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="language-content">
                    <p>Switch The Language</p>
                    <ul class="flag-lists">
                        <li><a href="#"><img src="images/flags/006-united-states.svg" alt=""><span>English</span></a></li>
                        <li><a href="#"><img src="images/flags/002-canada.svg" alt=""><span>English</span></a></li>
                        <li><a href="#"><img src="images/flags/003-vietnam.svg" alt=""><span>Vietnamese</span></a></li>
                        <li><a href="#"><img src="images/flags/004-france.svg" alt=""><span>French</span></a></li>
                        <li><a href="#"><img src="images/flags/005-germany.svg" alt=""><span>German</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- End xs modal --><!-- end language switcher strart -->

    <!-- search panel strart -->
    <!-- xs modal -->
    <div class="zoom-anim-dialog mfp-hide modal-searchPanel" id="modal-popup-2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="xs-search-panel">
                    <form action="#" method="POST" class="xs-search-group">
                        <input type="search" class="form-control" name="search" id="search" placeholder="Search">
                        <button type="submit" class="search-button"><i class="icon icon-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- End xs modal --><!-- end search panel strart -->

    <!-- offset cart strart -->
    <!-- sidebar cart item -->
    <div class="xs-sidebar-group cart-group">
        <div class="xs-overlay black-bg"></div>
        <div class="xs-sidebar-widget">
            <div class="sidebar-widget-container">
                <div class="widget-heading media">
                    <div class="media-body">
                        <a href="#" class="close-side-widget">
                            X
                        </a>
                    </div>
                </div>
                <div class="xs-empty-content">
                    <h3 class="widget-title">Shopping cart</h3>
                    <h4 class="xs-title">No products in the cart.</h4>
                    <p class="empty-cart-icon">
                        <i class="icon icon-shopping-cart"></i>
                    </p>
                    <p class="xs-btn-wraper">
                        <a class="btn btn-primary" href="shop.html">Return To Shop</a>
                    </p>
                </div>
            </div>
        </div>
    </div>    <!-- END sidebar cart item -->    <!-- END offset cart strart -->

    <!-- offset cart strart -->
    <!-- sidebar cart item -->
    <div class="xs-sidebar-group info-group">
        <div class="xs-overlay black-bg"></div>
        <div class="xs-sidebar-widget">
            <div class="sidebar-widget-container">
                <div class="widget-heading">
                    <a href="#" class="close-side-widget">
                        <i class="icon icon-cross"></i>
                    </a>
                </div>
                <div class="sidebar-textwidget">
                    <div class="sidebar-logo-wraper">
                        <a href="index.html">
                            <img src="images/color-logo.png" alt="sidebar logo">
                        </a>
                    </div>
                    <p>Far far away, behind the word moun tains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of  </p>
                    <ul class="sideabr-list-widget">
                        <li>
                            <div class="media">
                                <div class="d-flex">
                                    <img src="images/location.png" alt="">
                                </div>
                                <div class="media-body">
                                    <p>759 Pinewood Avenue</p>
                                    <span>Marquette, Michigan</span>
                                </div>
                            </div><!-- address 1 -->
                        </li>
                        <li>
                            <div class="media">
                                <div class="d-flex">
                                    <img src="images/mail.png" alt="">
                                </div>
                                <div class="media-body">
                                    <a href="mailto:info@domain.com">info@domain.com</a>
                                    <span>Online Support</span>
                                </div>
                            </div><!-- address 1 -->
                        </li>
                        <li>
                            <div class="media">
                                <div class="d-flex">
                                    <img src="images/phone.png" alt="">
                                </div>
                                <div class="media-body">
                                    <a href="tel:906-624-2565">906-624-2565</a>
                                    <span>Mon-Fri 8am-5pm</span>
                                </div>
                            </div><!-- address 1 -->
                        </li>
                    </ul><!-- .sideabr-list-widget -->
                    <div class="subscribe-form-wraper">
                        <p>Get Subscribed!</p>
                        <form action="#" method="POST" class="subscribe-form">
                            <label for="sub-input"></label>
                            <div class="form-group">
                                <input type="email" name="email" id="sub-input" placeholder="Enter your mail here" class="form-control">
                                <button class="sub-btn" type="submit"><i class="icon icon-arrow-right"></i></button>
                            </div>
                        </form>
                    </div>
                    <ul class="social-list version-2">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="vimeo"><i class="fa fa-vimeo"></i></a></li>
                    </ul><!-- .social-list -->
                    <div class="text-center">
                        <a href="https://themeforest.net/user/xpeedstudio/portfolio" class="btn btn-primary">Purchase Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>    <!-- END sidebar widget item -->    <!-- END offset cart strart -->

		<%- include partials/footer.ejs %>
		
    <%- include partials/FOOT_PACKAGES.ejs %>
	</body>
</html>